*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
audio-runtime/
app/src/main/jniLibs/

# Keystore / signing
*.jks
*.keystore
keystore.properties
*.keystore.properties
